<script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/plugins/ckeditor/ckeditor.js"></script>
<!-- TinyMCE -->
<script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/plugins/tinymce/tinymce.js"></script>
<script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/js/pages/forms/editors.js"></script>
 <!-- GMaps PLugin Js -->
 <script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/plugins/gmaps/gmaps.js"></script>
 <script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/js/pages/maps/google.js"></script>
 <script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/plugins/morrisjs/morris.js"></script>
 <script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/js/pages/charts/morris.js"></script>
 <script src="{{ APP_URL() }}/templates/AdminBSBMaterialDesign/js/pages/charts/chartjs.js"></script>
